<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         colors="true">
    <coverage>
        <report>
            <text outputFile="coverage.txt"/>
            <html outputDirectory="coverage-html"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Shipment Price Calculator Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>